Repository astrolabsoftware/fink-broker, pull requests merged in 2019-10, with the labels that each got.

#282 add option to view acl in fink_kafka
  bin/fink_kafka
Labels: New feature, apache kafka

#285 Force to use pyarrow 0.14.1
  requirements.txt
Labels: CI, apache parquet, bug

#283 Allow using custom configuration file in fink_kafka
  bin/fink_kafka
Labels: apache kafka, redistribution

#287 Use TRAVIS_REPO_SLUG to trigger sonar
  .travis.yml
Labels: bug, sonarqube
