Repository astrolabsoftware/fink-broker, pull requests merged in 2023-06, with the labels that each got.

#714 Update the constructor for feature extraction
  deps/requirements.txt
  fink_broker/science.py
Labels: science

#705 Elasticc round two!
  .github/workflows/sonarqube.yml
  bin/distribute_elasticc.py
  bin/stream2raw.py
  deps/requirements-science-no-deps.txt
  deps/requirements-science.txt
  fink_broker/__init__.py
  fink_broker/science.py
  sonar-project.properties
Labels: elasticc

#697 k8s pipeline
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  TODO.org
  bin/distribute.py
  bin/raw2science.py
  code-checks.sh
  conf.sh
  deps/jars-urls.txt
  deps/requirements-test.txt
  deps/requirements.txt
  dev_local.sh
  fink_broker/avroUtils.py
  fink_broker/distributionUtils.py
  fink_broker/parser.py
  fink_broker/schema_converter.py
  fink_broker/science.py
  fink_broker/sparkUtils.py
  fink_broker/test_schema_converter.py
  itest/finkctl.secret.yaml
  itest/finkctl.yaml
  itest/itest.sh
  itest/manifests/minio.yaml
  itest/minio-install.sh
  utest/bin/pytest.sh
  utest/datasets/schemas/df_schema.in.json
  utest/datasets/schemas/schema_20190903.avsc
  utest/datasets/science/year=2019/month=09/day=03/part-00000-67addd34-6967-4e0d-92ab-cd0a37aadaac.c000.snappy.parquet
Labels: CI, k8s

#717 Update pixel table
  bin/index_archival.py
  bin/science_archival.py
  fink_broker/hbaseUtils.py
  fink_broker/test_schema_converter.py
  scheduler/database_service.sh
Labels: hbase, index table
