Repository astrolabsoftware/fink-broker, pull requests merged in 2023-11, with the labels that each got.

#751 Add features to HBase tables using full schema (master, anomaly)
  bin/fink_test
  fink_broker/hbaseUtils.py
Labels: hbase, anomaly

#755 [CI] split Sentinel tests into units, integration (DB), integration (stream)
  .github/workflows/test.yml
  bin/fink_test
  online/raw/year=2020/month=01/day=01/.part-00000-ef0fdc02-e308-4103-8141-dc4b4201db5d.c000.snappy.parquet.crc
  online/raw/year=2020/month=01/day=01/.part-00001-84e1729f-5717-45c4-9eef-bf1b3d100be3.c000.snappy.parquet.crc
  online/raw/year=2020/month=01/day=01/part-00000-ef0fdc02-e308-4103-8141-dc4b4201db5d.c000.snappy.parquet
  online/raw/year=2020/month=01/day=01/part-00001-84e1729f-5717-45c4-9eef-bf1b3d100be3.c000.snappy.parquet
  online/science/year=2020/month=01/day=01/.part-00000-e827d2ad-255a-42d5-8164-41fca8bed00e.c000.snappy.parquet.crc
  online/science/year=2020/month=01/day=01/part-00000-e827d2ad-255a-42d5-8164-41fca8bed00e.c000.snappy.parquet
Labels: tests, CI

#760 Automatic generation of the SSOFT
  bin/generate_ssoft.py
Labels: solar system, SSOFT

#757 add fast transient module to the science pipeline
  fink_broker/science.py
Labels: science

#759 Update to Spark 3.4.1
  .github/workflows/test.yml
  bin/generate_ssoft.py
  bin/index_archival.py
  conf.sh
  conf/fink.conf.dev
  conf/fink.conf.prod
  fink_broker/hbaseUtils.py
  fink_broker/partitioning.py
  fink_broker/science.py
  libs/hbase-spark-hbase2.3.0_spark3.4.1_scala2.12.0_hadoop3.3.6.jar
  libs/hbase-spark-hbase2.4.8_spark3.4.1_scala2.12.0_hadoop3.3.6.jar
  libs/hbase-spark-protocol-shaded-hbase2.3.0_spark3.4.1_scala2.12.0_hadoop3.3.6.jar
  libs/hbase-spark-protocol-shaded-hbase2.4.8_spark3.4.1_scala2.12.0_hadoop3.3.6.jar
Labels: bug
