Repository astrolabsoftware/fink-broker, pull requests merged in 2024-07, with the labels that each got.

#864 Fix column name when constructing the rowkey
  bin/anomaly_archival.py
Labels: bug, anomaly

#861 Improve CD process
  .ciux
  .github/workflows/e2e-common.yml
  .github/workflows/e2e-gha.yml
  .github/workflows/linter.yml
  TODO.argocd
  bin/index_archival.py
  bin/index_sso_resolver.py
  bin/raw2science.py
  bin/stream2raw.py
  build.sh
  chart/.helmignore
  chart/Chart.yaml
  chart/templates/_helpers.tpl
  chart/templates/rolebinding.yaml
  chart/templates/serviceaccount.yaml
  chart/templates/spark-fink-distribution.yaml
  chart/templates/spark-fink-raw2science.yaml
  chart/templates/spark-fink-stream2raw.yaml
  chart/values-ci-noscience.yaml
  chart/values-ci.yaml
  chart/values.yaml
  deploy/fink_int/finkctl.yaml
  doc/e2e.md
  doc/troubleshoot.md
  e2e/argocd.sh
  e2e/check-results.sh
  e2e/fink-start.sh
  e2e/finkconfig_noscience/finkctl.yaml
  fink_broker/logging_utils.py
  fink_broker/science.py
  fink_broker/spark_utils.py
  fink_broker/tracklet_identification.py
Labels: continuous integration, continuous deployment

#859 Update the rowkey construction
  .ciux
  .github/workflows/e2e-common.yml
  .github/workflows/e2e-gha.yml
  .github/workflows/linter.yml
  .github/workflows/test.yml
  Dockerfile
  TODO.argocd
  bin/active_learning_loop.py
  bin/anomaly_archival.py
  bin/distribute.py
  bin/fink_test
  bin/index_archival.py
  bin/index_sso_resolver.py
  bin/raw2science.py
  bin/stream2raw.py
  build.sh
  chart/.helmignore
  chart/Chart.yaml
  chart/templates/_helpers.tpl
  chart/templates/rolebinding.yaml
  chart/templates/serviceaccount.yaml
  chart/templates/spark-fink-distribution.yaml
  chart/templates/spark-fink-raw2science.yaml
  chart/templates/spark-fink-stream2raw.yaml
  chart/values-ci-noscience.yaml
  chart/values-ci-science.yaml
  chart/values.yaml
  conf.sh
  conf/fink_alert_simulator.conf
  deploy/fink_int/finkctl.yaml
  doc/e2e.md
  doc/release.md
  doc/troubleshoot.md
  e2e/argocd.sh
  e2e/check-results.sh
  e2e/fink-start.sh
  e2e/finkconfig_noscience/finkctl.yaml
  fink_broker/hbase_utils.py
  fink_broker/logging_utils.py
  fink_broker/mm_utils.py
  fink_broker/parser.py
  fink_broker/science.py
  fink_broker/spark_utils.py
  fink_broker/tracklet_identification.py
  push-image.sh
Labels: hbase
